body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    font-size: 18px;
    font-weight: 100;
    color: #E5E7EB;
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    color: white;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.navbar {
    display: flex;
    gap: 20px;
}

.desc {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.left {
    flex: 0 1 400px;
    padding-right: 20px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: 700;
    border-radius: 8px;
    padding: 5px 20px;
    border-style: solid;
}

.right {
    flex: 0 1 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #696c74;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.subtitle {
    flex: 1;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 40px;
}

.gallery {
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0 50px;
}

.item {
    text-align: center;
    max-width: 150px;
    font-size: 18px;
    color: black;
}

.image {
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: #3882F6;
    height: 150px;
    margin-bottom: 10px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 50px;
    align-items: center;
}

.text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1e2229;
    margin-bottom: 10px;
    display: flex;
    width: 700px;
}

p {
    flex: 0 1 700px;
}

.author {
    font-size: 28px;
    font-weight: 700;
    margin-left: 400px;
}

.cta {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 75px 50px;
}

.container {
    flex: 0 1 650px;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 40px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.hook .title {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.hook .subtext {
    margin-bottom: 0;
}

.container button {
    border-color: #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}